@import url(./font.css)

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&family=Macondo&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-clr:#f8f8f8;
  --faded-clr:#afafaf;
  --card-bg:#02020287;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 200vh;
  max-height: auto;
  width: 100vw;
  background-color: #000000;
  padding-top: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #f8f8f8;
  font-family: 'Macondo';
  font-weight: 400;
}
body::before{
  z-index: -10000;
  top: -100px;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url('/bricks.jpg');
  background-repeat: repeat;
  opacity: 0.07;
}
.mainContainer{
  width: 100%;
  max-width: 1000px;
  height: auto;
  padding-inline: 10px 27px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
