.info-container{
  width: 200px;
  height: auto;
  background-color: var(--card-bg);
  padding: 15px;
  border: 2px solid rgb(13, 13, 13);
  border-radius: 4px;
  color: white;
}

.linkHead{
  font-size: 30px;
  margin: 0;
  font-family: 'Satoshi';
}
.linkUl{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link{
  padding-left: 25px;
  position: relative;
  transition: 50ms;
  font-size: 18px;
}
.link:hover::after{
  transform: translate(5px,-50%);
}
.link::after{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url('/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.link a{
  text-decoration: none;
  color: var(--font-clr);
  color: white;
}

